@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");



	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #ffffff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: #8b8f94;
		font-family: "Roboto", Helvetica, sans-serif;
		font-size: 22pt;
		font-weight: 300;
		letter-spacing: -0.01em;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 15pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		color: #64a9e9;
		border-bottom: dotted 1px;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: #2470b7;
			color: #2470b7 !important;
		}

	strong, b {
		color: #74797f;
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 1em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #74797f;
		font-weight: 300;
		letter-spacing: -0.025em;
		line-height: 1.4;
		margin: 0 0 0.8em 0;
	}

		h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {
/*
			color: #64a9e9;
*/
			font-weight: 300;
		}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-weight: 400;
		margin: 0 0 1.7em 0;
		text-transform: uppercase;
		font-size: 20px;
        letter-spacing: 0.25em;
	}

		h1 b {
			font-weight: 400;
		}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 980px) {

		h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
			display: none;
		}

	}

	@media screen and (max-width: 736px) {

		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 1em 0;
		}

		h2 {
			font-size: 1.5em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #e6e8eb;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 4px;
		border: solid 2px #e6e8eb;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 2px #e6e8eb;
		margin: 2.5em 0;
	}

		hr.major {
			margin: 3.5em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}



/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		color: inherit;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #e6e8eb;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 1em;
				}

					@media screen and (max-width: 736px) {

						ul.icons li .icon:before {
							font-size: 1.25em;
						}

					}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						display: block;
						padding: 1em 0 0 0;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							margin: 0 !important;
							width: 100%;
						}

							ul.actions li > *.icon:before {
								margin-left: -1.75em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 400;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}



/* Page Wrapper */

	#page-wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		min-height: 100vh;
	}

		body.is-ie #page-wrapper {
			height: 100vh;
		}

		@media screen and (max-width: 980px) {

			body.is-ie #page-wrapper {
				height: auto;
			}

		}

		@media screen and (orientation: portrait) {

			#page-wrapper {
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				height: auto !important;
				min-height: 0 !important;
			}

		}

/* Wrapper */

	#wrapper {
		padding: 4.5em 4.5em 2.5em 4.5em ;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		width: 65vw;
	}

		#wrapper:before {
			content: '';
		}

		#wrapper .inner {
			max-width: 30em;
		}

		#wrapper footer {
			color: #d0d0d0;
		}

			#wrapper footer ul {
				margin: 0;
			}

		#wrapper > * {
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			-moz-transform: translateX(0) translateY(0);
			-webkit-transform: translateX(0) translateY(0);
			-ms-transform: translateX(0) translateY(0);
			transform: translateX(0) translateY(0);
			opacity: 1;
		}

		@media screen and (max-width: 1280px) {

			#wrapper {
				padding: 4.5em 4em 2.5em 4em ;
			}

		}

		@media screen and (max-width: 980px) {

			#wrapper {
				padding: 4em 4em 2em 4em ;
			}

		}

		@media screen and (max-width: 980px) and (orientation: portrait) {

			#wrapper .inner {
				max-width: 28em;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 3em 3em 1em 3em ;
				-moz-justify-content: -moz-flex-start;
				-webkit-justify-content: -webkit-flex-start;
				-ms-justify-content: -ms-flex-start;
				justify-content: flex-start;
			}

				#wrapper footer ul {
					margin: 0 0 2em 0;
				}

		}

		@media screen and (max-width: 480px) {

			#wrapper {
				padding: 3em 2em 1em 2em ;
			}

		}

		@media screen and (max-width: 360px) {

			#wrapper {
				padding: 2em 1.5em 0.1em 1.5em ;
			}

		}

		@media screen and (orientation: portrait) {

			#wrapper {
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				text-align: center;
				width: 100%;
			}

				#wrapper .inner {
					width: 100%;
				}

				#wrapper footer {
					margin: 0.5em 0 0 0;
				}

					#wrapper footer ul {
						margin: 0 0 2em 0;
					}

		}

		body.is-loading #wrapper > * {
			-moz-transform: translateX(0.5em);
			-webkit-transform: translateX(0.5em);
			-ms-transform: translateX(0.5em);
			transform: translateX(0.5em);
			opacity: 0;
		}

		@media screen and (orientation: portrait) {

			body.is-loading #wrapper > * {
				-moz-transform: translateY(0.5em);
				-webkit-transform: translateY(0.5em);
				-ms-transform: translateY(0.5em);
				transform: translateY(0.5em);
			}

		}

/* Banner */

#logo{
    align-content: center;
    width:50%;
}

	#banner {
        background-image: url("/images/bg.png");
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		overflow: hidden;
		width: 35vw;
	}



		@media screen and (max-width: 980px) {

			#banner {
				padding: 2.5em 0;
			}

				#banner .content {
					padding: 1.5em 0.35em 3em 0.35em;
				}

				#banner ul {
					width: 10.125em;
					height: 18em;
				}

					#banner ul li img {
						width: 10.125em;
						height: 18em;
					}

		}

		@media screen and (max-width: 736px) {

			#banner {
				-moz-align-items: -moz-flex-start;
				-webkit-align-items: -webkit-flex-start;
				-ms-align-items: -ms-flex-start;
				align-items: flex-start;
				padding: 3em 0;
			}

				#banner .content {
					padding: 1em 0.3em 2em 0.3em;
				}

					#banner .content:before {
						top: 0.385em;
						width: 2em;
						height: 0.35em;
						margin-left: -1em;
					}

					#banner .content:after {
						bottom: 0.375em;
						width: 1.25em;
						height: 1.25em;
						margin-left: -0.625em;
					}

				#banner ul {
					width: 8.4375em;
					height: 15em;
				}

					#banner ul li img {
						width: 8.4375em;
						height: 15em;
					}

		}

		@media screen and (max-width: 736px) and (orientation: portrait) {

			#banner {
				padding: 1.5em 0;
			}

		}

		@media screen and (orientation: portrait) {

			#banner {
				width: 100%;
			}

		}

		body.is-loading #banner .inner ul:after {
			opacity: 1;
		}

/* Footer */

#footer-text{
    font-size: 12px;
    letter-spacing: 0.25em;
}

	#footer {
		position: fixed;
		bottom: 0;
		right: 0;
	}